.Profile{
    max-width: 200px;
    display: flex;
}

.Profile-ico, img, p{
    align-self: center;
    margin-left: 10px;
}

.Profile .Profile-ico:hover{
    cursor: pointer;
}

.Profile img{
    border-radius: 50%;
    margin-right: 10px;
}