.Categories{
    overflow: hidden;
    width: 100%;
    padding: 20px 0 20px 20px;
    background-color: white;
}

.Categories .Container{
    display: flex;
}

.Categories .Container .Search {
    width:  70%;
}

.Categories .Container .Prof{
    width: 30%;
}