
.BasicError{
    width: 100%;    
    height: 100vh;
    display: flex;
    background-color: #F3F5F4 !important;
    font-family: Arial, Helvetica, sans-serif;
}
.BasicError .BasicError-Container{
    width: 50%;
    align-self: center;
    text-align: center;
    margin-left: 2em;
}

.BasicError .BasicError-Container .BasicError-Right{
    background-image: url('../../../images/damn-error.gif');
    background-position: center;
    background-size: cover;
    width: 620px;
    height: 380px;
}

.BasicError .BasicError-left{
    align-self: center;
    width: 50%;
    text-align: right;
    padding: 4em 3em 4em 4em;
}
.BasicError .BasicError-left h1{
    color: #363636;
    font-size: 4em;
}
.BasicError .BasicError-left h2{
    color: #363636;
    font-size: 2em;
}


