.Media {
    cursor: pointer;
    margin-right: 15px;
    display: inline-block;
    width: 260px;
    vertical-align: top;
    
  }
  
  .Media:hover  {
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    border-radius: 3px;
  }
  
  .Media-cover {
    transition: .3s;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    height: 160px;
  }
  
  .Media-image {
    object-fit: cover;
  }
  .Media-image:hover{
    border-radius: 5px 5px 0 0;
  }
  
  .Media-title {
    margin: 5px 0 0 10px;
    color: #44546b;
    white-space: normal;
  }
  
  .Media-year {
    font-size: 12px;
    margin: 5px 0 15px 10px;
  }